#demo
    h1
        width: 500px
    .box
        position: relative
        .minibox
            background-color: #da4782
            width: 100px
            height: 100px
            margin: 10px 0
            color: #ffff
            padding: 10px
        .move
            position: fixed
            right: 0
